* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Red Hat Display";
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 37.5rem;
  height: 71rem;
  padding: 71px 24px;
  background-color: #e0e8ff;
  background-image: url(images/pattern-background-mobile.svg);
}
.main-container {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 4rem 4rem -2rem rgba(13, 48, 189, 0.1518);
}

.header-img {
  max-width: 100%;
  background: #382ae1;
  border-radius: 2rem 2rem 0 0;
}
h1 {
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 2.9rem;
  text-align: center;
  margin: 3.2rem 3.2rem 1.6rem 3.2rem;
}
p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #717fa6;
  text-align: center;
  margin: 0 3.2rem;
}
.plan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.4rem;
}
.plan-container h2 {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #1f2e55;
}
.plan-container h3 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #717fa6;
}
.change-link {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.7rem;
  text-decoration-line: underline;
}
.payment-container {
  text-align: center;
  margin-bottom: 2.4rem;
}
.payment {
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  background-color: #382ae1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  padding: 1.5rem 6.5rem;
  border-radius: 1.1rem;
}
.order {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #717fa6;
  padding-bottom: 3.2rem;
  text-align: center;
}

@media (min-width: 1440px) {
  section {
    width: 144rem;
    height: 90rem;
    padding: 10.2rem 49.5rem 10.1rem 49.5rem;
    background-image: url(images/pattern-background-desktop.svg);
  }
}
